<h1 class="title is-size-4"><%= @page_title %></h1>

<div class="columns is-mobile">
  <div class="column is-4 is-offset-1">
    <div class="level">
      <div class="level-item has-text-centered">
        <%= link_to boy_question_03_path do %>
          <figure class="image is-128x128">
            <%= image_tag "avatars/png/boy/boy_question_02/boy_question_02_answer_04.png", class: "is-rounded", alt:"logotipo" %>
          </figure>
        <% end %>
      </div>
      <h2 class="subtitle is-size-7">Estan dilatados</h2>
    </div>
  </div>
  <div class="column is-4 is-offset-2">
    <div class="level">
      <div class="level-item has-text-centered">
        <%= link_to boy_question_03_path do %>
          <figure class="image is-128x128">
            <%= image_tag "avatars/png/boy/boy_question_02/boy_question_02_answer_03.png", class: "is-rounded", alt:"logotipo" %>
          </figure>
        <% end %>
      </div>
      <h2 class="subtitle is-size-7">Se pueden ver claramente</h2>
    </div>
  </div>
</div>

<div class="columns is-mobile">
  <div class="column is-4 is-offset-1">
    <div class="level">
      <div class="level-item has-text-centered">
        <%= link_to boy_question_03_path do %>
          <figure class="image is-128x128">
            <%= image_tag "avatars/png/boy/boy_question_02/boy_question_02_answer_02.png", class: "is-rounded", alt:"logotipo" %>
          </figure>
        <% end %>
      </div>
      <h2 class="subtitle is-size-7">Son visibles, pero pasan desapercibidos</h2>
    </div>
  </div>
  <div class="column is-4 is-offset-2">
    <div class="level">
      <div class="level-item has-text-centered">
        <%= link_to boy_question_03_path do %>
          <figure class="image is-128x128">
            <%= image_tag "avatars/png/boy/boy_question_02/boy_question_02_answer_01.png", class: "is-rounded", alt:"logotipo" %>
          </figure>
        <% end %>
      </div>
      <h2 class="subtitle is-size-7">Apenas son visibles</h2>
    </div>
  </div>
</div>
