<h1 class="title is-size-4"><%= @page_title %></h1>

<div class="columns is-mobile">
  <div class="column is-4 is-offset-1">
    <div class="level">
      <div class="level-item has-text-centered">
        <%= link_to boy_question_04_path do %>
          <figure class="image is-128x128">
            <%= image_tag "avatars/png/boy/boy_question_03/boy_question_03_answer_01.png", class: "is-rounded", alt:"logotipo" %>
          </figure>
        <% end %>
      </div>
      <h2 class="subtitle is-size-7">Me brilla y parece grasa</h2>
    </div>
  </div>
  <div class="column is-4 is-offset-2">
    <div class="level">
      <div class="level-item has-text-centered">
        <%= link_to boy_question_04_path do %>
          <figure class="image is-128x128">
            <%= image_tag "avatars/png/boy/boy_question_03/boy_question_03_answer_04.png", class: "is-rounded", alt:"logotipo" %>
          </figure>
        <% end %>
      </div>
      <h2 class="subtitle is-size-7">Seca por las mejillas, pero con brillo en la nariz y frente</h2>
    </div>
  </div>
</div>

<div class="columns is-mobile">
  <div class="column is-4 is-offset-1">
    <div class="level">
      <div class="level-item has-text-centered">
        <%= link_to boy_question_04_path do %>
          <figure class="image is-128x128">
            <%= image_tag "avatars/png/boy/boy_question_03/boy_question_03_answer_03.png", class: "is-rounded", alt:"logotipo" %>
          </figure>
        <% end %>
      </div>
      <h2 class="subtitle is-size-7">Fina y seca</h2>
    </div>
  </div>

  <div class="column is-4 is-offset-2">
    <div class="level">
      <div class="level-item has-text-centered">
        <%= link_to boy_question_04_path do %>
          <figure class="image is-128x128">
            <%= image_tag "avatars/png/boy/boy_question_03/boy_question_03_answer_02.png", class: "is-rounded", alt:"logotipo" %>
          </figure>
        <% end %>
      </div>
      <h2 class="subtitle is-size-7">Fresca y tersa</h2>
    </div>
  </div>
</div>
